<br>
<div class="skills">
    <div class="yui-u first">
        <h2>Skills</h2>
    </div>

</div><!--// .yui-gf -->
<div id="card" class="card" style="width: 100rem;">
    <div  class="card-header ">
      Featured
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> <h5>HTML</h5>
        <p>Hypertext Markup Language, a standardized system for tagging text files to achieve font, color, graphic, and hyperlink effects on World Wide Web pages.</p>
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div></li>
      <li class="list-group-item"><h5>Java</h5>
        <p>Hypertext Markup Language, a standardized system for tagging text files to achieve font, color, graphic, and hyperlink effects on World Wide Web pages.</p>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div></li>
      <li class="list-group-item"> <h5>CSS</h5>
        <p>Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language such as HTML. </p>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div></li>
      <li class="list-group-item"> <h5>Project Management</h5>
        <p>Project management is the process of leading the work of a team to achieve all project goals within the given constraints.  </p>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div></li>
    </ul>
  </div>

