
<div id="doc2" class="yui-t7">
    
	<div id="inner">
        <img src="../../assets/me.png" alt="">
		<div id="hd">
            
			<div class="yui-gc">
              
				<div class="yui-u first">
                    
					<h1>Edward Salas</h1>
					<h2>Student Web Designer</h2>

				</div>
				<div class="yui-u">
					<div class="contact-info">
						<h3><a href="edward.salas11@yahoo.com">edward.salas11@yahoo.com</a></h3>
						<h3>09566840436</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->
			
        <div class="yui-u first">
            <h2>Profile</h2>
        </div>
            <p class="enlarge">
                A Student aspiring Web Developer who focuses on writing clean, elegant, and efficient code. Creates art using HTML5, CSS, WordPress, Python and Angular since 2019.
            </p>
            <br>

            <p class="enlarge">I strive to do all jobs in a SMART manner. SMART goals are Specific, Measurable, Achievable, Realistic, and Time-bound.</p>
         