<!DOCTYPE html>
<html>
<head>

	<title>Edward Salas | Web Designer| edward.salas11@yahoo.com</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../assets/icon2.png" width="100%" height="" class="d-inline-block align-top" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a id="check" class="nav-link" routerLink="../about">About</a>
              </li>
              <li class="nav-item">
                <a id="check" class="nav-link" routerLink="../skills">Skills</a>
              </li>
              <li class="nav-item">
                <a id="check" class="nav-link" routerLink="../portfolio">Portfolio</a>
              </li>
              <li class="nav-item">
                <a id="check" class="nav-link" routerLink="../contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="top">
        <router-outlet></router-outlet>
      </div>


				

					

